* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1563px;
  background: rgba(182,233,244,1);
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_13 {
  width: 100%;
  height: 81px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 0px;
  left: -10px;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}
.v1_3 {
  width: 100%;
  height: 81px;
  background: rgba(55,144,149,1);
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 113px;
  color: rgba(182,233,244,1);
  position: absolute;
  top: 27px;
  left: 870px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
  background-color:rgba(55, 144, 149, 1);
}
.v1_6 {
  width: 161px;
  color: rgba(182,233,244,1);
  position: absolute;
  top: 27px;
  left: 1200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_27 {
  width: 161px;
  color: rgba(182,233,244,1);
  position: absolute;
  top: 27px;
  left: 500px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
a:link {
  color: white;
  text-decoration: none;
}

a:hover.link {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
.v4_30 {
  width: 175px;
  color: rgba(182,233,244,1);
  position: absolute;
  top: 27px;
  left: 150px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_42 {
  width: 362px;
  height: 652px;
  background: url("../images/v4_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 924px;
  left: 10px;
  overflow: hidden;
}
.v4_40 {
  color: rgba(0,0,0,1);
  position: absolute;
  top: 950px;
  left: 250px;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v4_44 {
  width: 509px;
  height: 247px;
  background: url("../images/v4_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1195px;
  left: 870px;
  overflow: hidden;
}
.v4_52 {
  width: 555px;
  height: 475px;
  background: url("../images/v4_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1101px;
  left: 469px;
  overflow: hidden;
}
.v16_8 {
  width: 100%;
  height: 827px;
  background: url("../images/v16_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
